

<style>
    .home-video {
        display: flex;
        justify-content: center;
        padding: 2rem;
    }

    .home-video video {
        width: 95%;
        border-radius: 10px;
    }

    @media (max-width: 576px) {
        .home-video {
            padding: 1rem;
        }
    }

    /*video*/
    .home-video video:hover {
        animation-play-state: paused; /* Pauses animation */
    }
</style>

<!-------------------------------------------- User Home Video ------------------------------------------------->

<div class="home-video animate__animated animate__fadeIn">
    <video autoplay loop muted>
        <source src="/public/assets/Grey, White and Beige Bedding Company Ad Slideshow Video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>


]