
 


 <!-- Card structure -->
<div class="container">
    <h3 class="text-center" style="padding-top: 30px;">SERVICES WE OFFER</h3>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
                <img src="../../public/assets/bedroom-with-green-walls-bed-with-green-rug-bed-with-green-rug.jpg" alt="" class="card-img-top">
                <div class="card-body" id="pct">
                    <h5 class="card-title text-center">Custom Mattress Solutions</h5>
                    <p class="text-center">We understand that everyone has unique comfort needs, which is why we offer custom mattress solutions tailored to your preferences. Choose your ideal firmness, materials, and dimensions to create a mattress that offers the ultimate luxury.</p>
                    <div id="btn2" class="text-center"><button>View More</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
                <img src="../../public/assets/hi.png" alt="" class="card-img-top">
                <div class="card-body" id="pct">
                    <h5 class="card-title text-center">100-Night Sleep Trial</h5>
                    <p class="text-center">Sleep soundly knowing you’re making a positive impact. Our beds and mattresses are crafted from sustainable, eco-friendly materials that prioritize both comfort and environmental health. From organic cotton to natural latex, each product is made with quality and responsibility in mind.</p>
                    <div id="btn2" class="text-center"><button>View More</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
                <img src="../../public/assets/sapling.jpg" alt="" class="card-img-top">
                <div class="card-body" id="pct">
                    <h5 class="card-title text-center">Free Sapling with Every Delivery</h5>
                    <p class="text-center">Grow comfort and sustainability together. For each bed or mattress purchased, we include a complimentary sapling as part of our commitment to a greener planet. Planting this small tree symbolizes the lasting impact of choosing eco-friendly products.</p>
                    <div id="btn2" class="text-center"><button>View More</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- card2 -->
    <div class="container">
       
        <div class="row" style="margin-top: 100px;">
            <h3 class="text-center">Shop by Categories</h3>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card" id="tpc">
                    <h4 class="card-titel">Pillows</h4>
                   
                    <a href="/categories/Pillows"> 
                    <img src="../../public/assets/pillow-bed.jpg" alt="" class="card image-top">
                </a>
                
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card" id="tpc">
                    <h4 class="card-titel">Mattresses</h4>

                    <a href="/categories/Mattresses">
                    <img src="../../public/assets/view-3d-mattress-with-clouds.jpg" alt="" class="card image-top">
                </a>
                   
                </div>
            </div>
            <div class="col-md-4 py-3 py-md-0">
                <div class="card" id="tpc">
                    <h4 class="card-titel">Bed Furnishers</h4>
            
                    <a href="/categories/Beds">
                        <img src="../../public/assets/1986.jpg" alt="" class="card image-top">
                    </a>
            
                  
                </div>
            </div>
            
        </div>
    </div>
   